.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

%responsive {
    display: block;
    width: 100%;
    height: auto;
}

%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// @mixin setcolor($kleur) {
//   background-color: $kleur;
//   color: invert($kleur);
// }