form * {
    margin: 0;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: none;
}
form input {
    font-size: 1.6rem;
    padding: 1rem;
}
ul li {
    display: flex; 
}
ul li.checked {
    background-color: rgb(37, 195, 37);
}

ul li span {
    margin-right: auto;
}